In [3]:
import pandas as pd

In [4]:
df = pd.read_excel("SRAG 2024_DOWNLOAD 29_3_25 IMUNODEPRE_RT_PCR OU ANTIGENO POSITIVO.xlsx")

In [132]:
df

,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,DIAS INICIO SIN HOSPITALIZAÇÃO,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,...,VG_REINF,REINF,Unnamed: 195,LOT_RE_BI,FAB_RE_BI,Unnamed: 198,DOS_RE_BI,LOTE_ADIC,TABAG,CASO_SRAG
0,2024-03-04,10,2024-02-28,NaN,9,MS,NRS DE TRES LAGOAS,6255.0,BATAGUASSU,500190,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,1.0
1,2024-02-16,7,2024-02-13,NaN,7,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690,...,NaN,2,NaN,GJ7181,NaN,NaN,2023-05-16,NaN,NaN,1.0
2,2024-08-29,35,2024-07-23,NaN,30,DF,NaN,NaN,BRASILIA,530010,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,1.0
3,2024-08-09,32,2024-08-05,NaN,32,PA,01 REGIONAL DE PROTECAO SOCIAL,1484.0,BELEM,150140,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,1.0
4,2024-09-06,36,2024-09-04,1.0,36,SP,GVE I CAPITAL,1331.0,SAO PAULO,355030,...,NaN,2,NaN,GF9673,NaN,NaN,2023-03-27,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,2024-10-06,41,2024-10-05,0.0,40,MG,POUSO ALEGRE,1459.0,POCOS DE CALDAS,315180,...,NaN,2,NaN,GJ2553,NaN,NaN,2023-03-01,NaN,NaN,0.0
1432,2024-10-03,40,2024-08-07,NaN,32,SP,GVE VIII MOGI DAS CRUZES,1333.0,GUARULHOS,351880,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,0.0
1433,2024-03-06,10,2024-02-19,6.0,8,DF,NaN,NaN,BRASILIA,530010,...,NaN,2,NaN,NaN,NaN,NaN,NaT,FM3809,NaN,1.0
1434,2024-04-04,14,2024-03-15,NaN,11,SP,GVE VIII MOGI DAS CRUZES,1333.0,GUARULHOS,351880,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,0.0
1435,2024-03-08,10,2024-03-05,NaN,10,SP,GVE I CAPITAL,1331.0,SAO PAULO,355030,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,0.0

## Filtrar por Idade (>= 60), Imunodepressivo, PCR_SARS2

In [155]:
ANO = 3
MARCADO_PELO_USUARIO = 1
SIM = 1
NAO = 2
COVID = 5

#COMORBIDADES_ADICIONAIS = AS, AT, AV, AZ (AW + BA), AX, AZ, BC, BD

# CA = UTI
# CD = SUPORT_VEN
# CLASSIFI

from datetime import date

filtered = df[
    (df["NOSOCOMIAL"] == NAO)
    & (df["NU_IDADE_N"] >= 60)
    & (df["IMUNODEPRE"] == SIM)
    & (df["HOSPITAL"] == SIM)
    & ~(df["DT_INTERNA"].isna())
    & (df["CLASSI_FIN"] == COVID)
    & ((df["PCR_SARS2"] == MARCADO_PELO_USUARIO) | (df["AN_SARS2"] == SIM)) 
    & (df["EVOLUCAO"].isin([1, 2]))
    & ~(df["EVOLUCAO"].isna())
    & ~(df["DT_EVOLUCA"].isna())
    & (df["DT_EVOLUCA"] >= pd.to_datetime('2023-12-31'))
    & (df["DT_EVOLUCA"] <= pd.to_datetime('2024-12-28'))
]

In [156]:
filtered

,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,DIAS INICIO SIN HOSPITALIZAÇÃO,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,...,VG_REINF,REINF,Unnamed: 195,LOT_RE_BI,FAB_RE_BI,Unnamed: 198,DOS_RE_BI,LOTE_ADIC,TABAG,CASO_SRAG
4,2024-09-06,36,2024-09-04,1.0,36,SP,GVE I CAPITAL,1331.0,SAO PAULO,355030,...,NaN,2,NaN,GF9673,NaN,NaN,2023-03-27,NaN,NaN,1.0
5,2024-02-05,6,2024-02-05,0.0,6,SC,JOINVILLE,1565.0,JOINVILLE,420910,...,NaN,2,NaN,GJ9239,NaN,NaN,2023-06-28,NaN,NaN,1.0
6,2024-09-17,38,2024-09-15,2.0,38,RS,018 CRS,1605.0,CAPAO DA CANOA,430463,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,1.0
7,2024-12-05,49,2024-10-01,0.0,40,SP,GVE I CAPITAL,1331.0,SAO PAULO,355030,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,1.0
16,2024-12-11,50,2024-11-11,23.0,46,MG,BELO HORIZONTE,1449.0,BELO HORIZONTE,310620,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424,2024-09-25,39,2024-09-24,1.0,39,MG,SETE LAGOAS,1467.0,SETE LAGOAS,316720,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,1.0
1425,2024-02-22,8,2024-02-15,1.0,7,SP,GVE XX PIRACICABA,1345.0,PIRACICABA,353870,...,NaN,2,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1430,2024-02-15,7,2024-02-08,3.0,6,SP,GVE VII SANTO ANDRE,1332.0,SAO CAETANO DO SUL,354880,...,NaN,2,NaN,GF9673,NaN,NaN,2023-03-24,NaN,NaN,1.0
1431,2024-10-06,41,2024-10-05,0.0,40,MG,POUSO ALEGRE,1459.0,POCOS DE CALDAS,315180,...,NaN,2,NaN,GJ2553,NaN,NaN,2023-03-01,NaN,NaN,0.0
1433,2024-03-06,10,2024-02-19,6.0,8,DF,NaN,NaN,BRASILIA,530010,...,NaN,2,NaN,NaN,NaN,NaN,NaT,FM3809,NaN,1.0

Média de idade:

In [157]:
filtered["NU_IDADE_N"].mean()

np.float64(74.89662447257383)

Porcentagem masculino:

In [136]:
len(filtered[filtered["CS_SEXO"] == 'M']) / len(filtered[filtered["CS_SEXO"].isin(['M', 'F'])])

0.4673469387755102

Mortes

In [137]:
# D dias
def death_filter(df):
    DEATH = 2
    DEATH_BY_OTHER_REASONS = 3
    return df["EVOLUCAO"].isin([DEATH, DEATH_BY_OTHER_REASONS])

def death_rate(df):
    
    total = len(df[death_filter(df)])
    percentage = total / len(df)
    return f"{total}/{len(df)} ({percentage:.1%})"


print(death_rate(filtered))

175/490 (35.7%)

Idade

In [138]:
filtered_ge80 = filtered[filtered["NU_IDADE_N"] >= 80]
filtered_lt80 = filtered[filtered["NU_IDADE_N"] < 80]

print(f"""\
>80: {death_rate(filtered_ge80)}
<80: {death_rate(filtered_lt80)}""")

>80: 59/162 (36.4%)
<80: 116/328 (35.4%)

Doses

In [43]:
with_3_or_4_doses = filtered[~filtered["DOSE_REF"].isna() | ~filtered["DOSE_2REF"].isna()]
without_3_or_4_doses = filtered[filtered["DOSE_REF"].isna() & filtered["DOSE_2REF"].isna()]

In [44]:
# DOSE_ADIC FF (com registo de fabricante FL, FM, FN, FO)
# Ano ultima dose vacina (considerar fabricante)
# FQ: esquema vacinal

print(f"""\
Less than 3 doses: {death_rate(without_3_or_4_doses)}
3-4 doses: {death_rate(with_3_or_4_doses)}""")

Less than 3 doses: 71/170 (41.8%)
3-4 doses: 102/272 (37.5%)

UTI

In [45]:
icu = filtered[filtered["UTI"] == 1]
no_icu = filtered[filtered["UTI"] == 2]

In [46]:
print(f"""\
ICU: {death_rate(icu)}
no ICU: {death_rate(no_icu)}""")

ICU: 88/155 (56.8%)
no ICU: 71/262 (27.1%)

Ventilação mecânica

In [47]:
YES_INVASIVE = 1
YES_NON_INVASIVE = 2
NO = 3
mechanical = filtered[filtered["SUPORT_VEN"].isin([YES_INVASIVE, YES_NON_INVASIVE])]
no_mechanical = filtered[filtered["SUPORT_VEN"] == NO]

In [48]:
print(f"""\
Mechanical ventilation: {death_rate(mechanical)}
no Mechanical ventilation: {death_rate(no_mechanical)}""")

Mechanical ventilation: 138/299 (46.2%)
no Mechanical ventilation: 26/122 (21.3%)

# Regressão logística

In [65]:
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri, Formula
pandas2ri.activate()
# import R's "base" package
base = importr('base')
stats = importr('stats')

## Bivariada

In [50]:
survivor = filtered[~death_filter(filtered)]
non_survivor = filtered[death_filter(filtered)]

Total

In [51]:
print("Total")
print(f"Survivor: {len(survivor)}")
print(f"Non-Survivor: {len(non_survivor)}")

Total
Survivor: 269
Non-Survivor: 173

Epidemiologic week

In [76]:
def iqr(column):
    quartiles = column.quantile([0.25, 0.75])
    return quartiles[0.75] - quartiles[0.25]
print("Epidemiologic week, median (IQR)")
print(f"Survivor: {survivor["SEM_PRI"].median()} ({iqr(survivor["SEM_PRI"])})")
print(f"Non-Survivor: {non_survivor["SEM_PRI"].median()} ({iqr(non_survivor["SEM_PRI"])})")

xy = pd.concat([filtered[["SEM_PRI"]], death_filter(filtered)], axis=1).set_axis(['x', 'y'], axis=1)
glm_model = stats.glm(Formula('y ~ x'), data=xy, family=stats.binomial())
summary = base.summary(glm_model)
coef = stats.coef(summary)
print(f'p-value: {coef[1][3]}')

Epidemiologic week, median (IQR)
Survivor: 14.0 (30.0)
Non-Survivor: 22.0 (32.0)
p-value: 0.48106072636845965

Days from onset of first symptoms

In [80]:
print("Days from onset of first symptoms, median (IQR)")
delta_days_filtered = (filtered["DT_INTERNA"] - filtered["DT_SIN_PRI"]).dt.days
delta_days_survivor = (survivor["DT_INTERNA"] - survivor["DT_SIN_PRI"]).dt.days
delta_days_non_survivor = (non_survivor["DT_INTERNA"] - non_survivor["DT_SIN_PRI"]).dt.days


print(f"Survivor: {delta_days_survivor.median()} ({iqr(delta_days_survivor)})")
print(f"Non-Survivor: {delta_days_non_survivor.median()} ({iqr(delta_days_non_survivor)})")

xy = pd.concat([delta_days_filtered, death_filter(filtered)], axis=1).set_axis(['x', 'y'], axis=1)
glm_model = stats.glm(Formula('y ~ x'), data=xy, family=stats.binomial())
summary = base.summary(glm_model)
coef = stats.coef(summary)
print(f'p-value: {coef[1][3]}')

Days from onset of first symptoms, median (IQR)
Survivor: 2.0 (4.0)
Non-Survivor: 2.0 (5.0)
p-value: 0.4008241901334414

Age group

In [83]:
age = filtered["NU_IDADE_N"].apply(lambda x: '60-69' if x < 70 else '70-79' if x < 80 else '80+')

In [89]:
xy = pd.concat([age, death_filter(filtered)], axis=1).set_axis(['x', 'y'], axis=1)
glm_model = stats.glm(Formula('y ~ x'), data=xy, family=stats.binomial())
summary = base.summary(glm_model)
coef = stats.coef(summary)
print(f'p-value: {coef[1][3]} or {coef[2][3]}')
# print(summary)

p-value: 0.18255707829673493 or 0.39822980192886176

In [95]:
print("60-69")
print(f"Survivor: {len(survivor[survivor["NU_IDADE_N"] < 70])}")
print(f"Non-Survivor: {len(non_survivor[non_survivor["NU_IDADE_N"] < 70])}")
print("70-79")
print(f"Survivor: {len(survivor[(survivor["NU_IDADE_N"] >= 70) & (survivor["NU_IDADE_N"] < 80)])}")
print(f"Non-Survivor: {len(non_survivor[(non_survivor["NU_IDADE_N"] >= 70) & (non_survivor["NU_IDADE_N"] < 80)])}")
print("80+")
print(f"Survivor: {len(survivor[(survivor["NU_IDADE_N"] >= 80)])}")
print(f"Non-Survivor: {len(non_survivor[(non_survivor["NU_IDADE_N"] >= 80)])}")

60-69
Survivor: 94
Non-Survivor: 71
70-79
Survivor: 94
Non-Survivor: 52
80+
Survivor: 81
Non-Survivor: 50

Gender

In [99]:
xy = pd.concat([filtered["CS_SEXO"], death_filter(filtered)], axis=1).set_axis(['x', 'y'], axis=1)
glm_model = stats.glm(Formula('y ~ x'), data=xy, family=stats.binomial())
summary = base.summary(glm_model)
coef = stats.coef(summary)
print(f'p-value: {coef[1][3]}')
#print(summary)

p-value: 0.02583799243510284

In [100]:
print("Female")
print(f"Survivor: {len(survivor[survivor["CS_SEXO"] == "F"])}")
print(f"Non-Survivor: {len(non_survivor[non_survivor["CS_SEXO"] == "F"])}")
print("Male")
print(f"Survivor: {len(survivor[survivor["CS_SEXO"] == "M"])}")
print(f"Non-Survivor: {len(non_survivor[non_survivor["CS_SEXO"] == "M"])}")

Female
Survivor: 149
Non-Survivor: 77
Male
Survivor: 120
Non-Survivor: 96

Race or ethnicity

In [105]:
xy = pd.concat([filtered["CS_RACA"].map({1:"white", 2:"black", 3:"yellow", 4:"brown", 5:"indigenous", 9:"unknown"}), death_filter(filtered)], axis=1).set_axis(['x', 'y'], axis=1)
glm_model = stats.glm(Formula('y ~ x'), data=xy, family=stats.binomial())
summary = base.summary(glm_model)
coef = stats.coef(summary)
print(f'p-value??: {coef[1][3]} or {coef[2][3]} or {coef[3][3]} or {coef[4][3]}')
#print(summary)

p-value??: 0.6781486171073998 or 0.5237654769089163 or 0.8972751454740913 or 0.9807296354149344

In [111]:
print("White")
print(f"Survivor: {len(survivor[survivor["CS_RACA"] == 1])}")
print(f"Non-Survivor: {len(non_survivor[non_survivor["CS_RACA"] == 1])}")
print("Brown")
print(f"Survivor: {len(survivor[survivor["CS_RACA"] == 4])}")
print(f"Non-Survivor: {len(non_survivor[non_survivor["CS_RACA"] == 4])}")
print("Black")
print(f"Survivor: {len(survivor[survivor["CS_RACA"] == 2])}")
print(f"Non-Survivor: {len(non_survivor[non_survivor["CS_RACA"] == 2])}")
print("Yellow")
print(f"Survivor: {len(survivor[survivor["CS_RACA"] == 3])}")
print(f"Non-Survivor: {len(non_survivor[non_survivor["CS_RACA"] == 3])}")
print("indigenous")
print(f"Survivor: {len(survivor[survivor["CS_RACA"] == 5])}")
print(f"Non-Survivor: {len(non_survivor[non_survivor["CS_RACA"] == 5])}")
print("Unknown")
print(f"Survivor: {len(survivor[survivor["CS_RACA"] == 9])}")
print(f"Non-Survivor: {len(non_survivor[non_survivor["CS_RACA"] == 9])}")

White
Survivor: 156
Non-Survivor: 103
Brown
Survivor: 56
Non-Survivor: 46
Black
Survivor: 5
Non-Survivor: 3
Yellow
Survivor: 0
Non-Survivor: 2
indigenous
Survivor: 0
Non-Survivor: 0
Unknown
Survivor: 52
Non-Survivor: 19

In [ ]:
#TIPO_TRAT